<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springlearning.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.example.springlearning.entity.pojo.User">
        INSERT INTO user (name, age
        <if test="school != null">, school_id</if>)
        VALUES (#{name}, #{age}
        <if test="school != null">, #{schoolId}</if>)
    </insert>

    <update id="updateUser" parameterType="com.example.springlearning.entity.pojo.User">
        UPDATE user
        SET name      = #{name},
            age       = #{age},
            school_id = #{schoolId}
        WHERE id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="java.lang.Long">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

    <select id="selectUserById" parameterType="java.lang.Long" resultType="com.example.springlearning.entity.pojo.User">
        SELECT id, name, age, school_id
        FROM user
        WHERE id = #{id}
    </select>

    <select id="selectLastUser" resultType="com.example.springlearning.entity.pojo.User">
        SELECT id, name, age, school_id
        FROM user
        ORDER BY id DESC
        LIMIT 1
    </select>
</mapper>
